/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-image: linear-gradient(
    180deg,
    #eaecd0 0,
    #e6edd2 6.25%,
    #e2eed4 12.5%,
    #deefd6 18.75%,
    #daf0d9 25%,
    #d6f1dc 31.25%,
    #d3f1df 37.5%,
    #d0f2e2 43.75%,
    #cdf2e6 50%,
    #cbf2ea 56.25%,
    #c9f2ed 62.5%,
    #c8f2f1 68.75%,
    #c7f2f4 75%,
    #c7f2f7 81.25%,
    #c8f1fa 87.5%,
    #c9f1fd 93.75%,
    #cbf0ff 100%
  );
  background-repeat: no-repeat;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_cow {
  width: 20%;
}
.img_bull {
  margin-top: -2.5%;
  width: 15%;
  float: right;
  padding: 0 1.3%;
}
.games_name {
  font-size: 3.5em;
  text-transform: uppercase;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

.rules_header {
  text-align: center;
  font-size: 2.5em;
}
.game_log_container,
.send_variant_container,
.start_container {
  max-width: 1024px;
  margin: 10px 1.5%;
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.561);
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(0, 9, 188);
}

#game_difficulty_select,
.start_btn {
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 30px;
}
#game_difficulty_select {
  margin-bottom: 15px;
}

.game_log_container,
.numbers_btn {
  font-size: 2em;
}

.attempts_left {
  float: right;
}

.game_log_container ul li {
  padding-top: 15px;
  font-size: 1.5em;
}

.numbers_btn_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.send_variant {
  margin: 1.5em auto 0 auto;
  width: fit-content;
}

.numbers_btn {
  /* border: none; */
  padding: 5px;
  border-radius: 30px;
  flex-basis: 5.5%;
}

.input_variant,
.send_variant_btn {
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 30px;
}

.input_variant {
  max-width: 120px;
}

.hidden {
  display: none;
}

.cow {
  border-bottom: 7px solid;
  border-image: url(/src/cow-texture.PNG) 15;
}

.bull {
  border-bottom: 7px solid rgb(169, 103, 49);
}

.error_message {
  color: red;
  text-align: center;
  padding-top: 15px;
}

.overlay_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.346);
  top: 0;
  left: 0;
}

.modal_end_game {
  width: fit-content;
  position: fixed;
  padding: 40px 50px;
  border-radius: 30px;
  background-color: white;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_end_game p {
  padding: 5px 0;
}
.start_new_game_btn,
.close_modal_btn {
  padding: 10px;
  margin-top: 15px;
  font-size: 0.7em;
  border-radius: 50px;
}
.close_modal_btn {
  float: right;
}

.send_variant .start_new_game_btn {
  font-size: 1.5em;
}
